html, body {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 12px;
}

.login-form {
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#menu {
    width: 150px;
    margin: 0;
    overflow: hidden;
    float: left;
}

#container {
    width: 800px;
    margin: 0;
    background-color: #f0f0f0;
    text-align: center;
    overflow: hidden;
}

input[type="text"], input[type="email"], input[type="date"], textarea,
input[type="tel"], input[type="number"], input[type="url"] {
    border: 1px solid #eee;
    padding: 3px 5px;
    border-radius: 6px;
    font-size: 12px;
    width: 300px;
}

select {
    border: 1px solid #eee;
    padding: 3px 5px;
    border-radius: 6px;
    font-size: 12px;
}

table {
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    margin: 5px auto;
    font-size: 12px;
}

tr, td, th {
    border: 0px solid #dcdcdc;
    margin: 5px auto;
    padding: 5px;
    text-align: left;
}

.ref:link {
    color: black;
    text-decoration: underline;
}

.ref:visited {
    color: black;
    text-decoration: underline;
}

.ref:hover {
    color: #666666;
    text-decoration: none;
}

.title {
    display: inline-block;
    font-size: 25px;
    font-style: oblique;
    margin: 10px 0;
    text-align: center;
}

p {
    display: inline-block;
    margin: 5px 0;
}

.item {
    margin: 5px 0;
}

.avatar {
    display: block;
    width: 130px;
    height: 130px;
    text-align: left;
    margin-left: 10%;
}

button, .button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:#f9f9f9;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    padding: 4px 8px;
    margin: 4px 0;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

button:hover, .button:hover {
    background-color: #e9e9e9;
}

button:active, .button:active {
    position: relative;
    top: 2px;
}

.right-buttons {
    text-align: right;
    margin-right: 10%;
}

.black_overlay{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.edit_dialog {
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 520px;
    height: auto;
    border: 16px solid #e9e9e9;
    background-color: white;
    z-index: 1002;
    overflow: hidden;
    text-align: center;
}

.hidden {
    display: none;
}

textarea {
    height: 200px;
}