@()

<table class="list table-hover">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Полное имя</th>
            <th>День рождения</th>
            <th>Адрес</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: contactListVM.contacts">
        <tr>
                <!-- ko if: $root.chosenSectionId().id == "ctlst" -->
            <td><input type="checkbox" data-bind="value: id, checked: $root.contactListVM.checkedContacts" ></td>
            <td data-bind="attr: { id: id }, click: function(contact, evt) {$root.contactListVM.goToDetails(contact, evt, $root)}">
                <span data-bind="text: lastName">&nbsp;</span>
                <span data-bind="text: firstName">&nbsp;</span>
                <span data-bind="text: middleName"></span>
            </td>
                <!-- /ko -->
                <!-- ko if: $root.chosenSectionId().id == "useradd" || $root.chosenSectionId().id == "userchenge"-->
            <td><input type="radio" data-bind="value: id, checked: $root.contactListVM.checkedContact, click: $root.userDetailsVM.closeModal" ></td>
            	<!-- /ko -->
            	<!-- ko if: $root.chosenSectionId().id == "ordadd" || $root.chosenSectionId().id == "ordchange" -->
            <td><input type="radio" data-bind="click: function(data, evt) {$root.orderDetailsVM.closeContactModal(data, evt, $root)}" ></td>
            	<!-- /ko -->
            <!-- ko if: $root.chosenSectionId().id != "ctlst" -->
            <td>
            	<span data-bind="text: lastName">&nbsp;</span>
                <span data-bind="text: firstName">&nbsp;</span>
                <span data-bind="text: middleName"></span>
            </td>    
            <!-- /ko -->
            <td data-bind="text: birthday"></td>
            <td>
                <span data-bind="text: town">,&nbsp;</span>
                <span data-bind="text: street">,&nbsp;</span>
                <span data-bind="text: house">,&nbsp;</span>
                <span data-bind="text: flat"></span>
            </td>
        </tr>
    </tbody>
</table>

<div class="pagination">
    <a id="first" href="#" data-bind="click: function (data, event) { $root.navigate($root.contactListVM,data,event); }, css: { disabled: contactListVM.currentPage() === 1 }">В начало</a>
    <a id="prev" href="#" data-bind="click: function (data, event) { $root.navigate($root.contactListVM,data,event); }, css: { disabled: contactListVM.currentPage() === 1 }"><<</a>
        <!-- ko foreach: contactListVM.numbers -->
    <a id="block" href="#" data-bind="click: function (data, event) { $root.navigate($root.contactListVM,data,event); }, text: $data, css: { current: $root.contactListVM.currentPage() == $data}"></a>
        <!-- /ko -->
    <a id="next" href="#" data-bind="click: function (data, event) { $root.navigate($root.contactListVM,data,event); }, css: { disabled: contactListVM.currentPage() === contactListVM.totalPages()}">>></a>
    <a id="last" href="#" data-bind="click: function (data, event) { $root.navigate($root.contactListVM,data,event); }, css: { disabled: contactListVM.currentPage() === contactListVM.totalPages()}">В конец</a>
</div>