<!-- ko if: $root.chosenSectionId().id == "ctlst" -->

<table class="list">
        <thead>
                <tr>
                        <th>&nbsp;</th>
                        <th>Полное имя</th>
                        <th>День рождения</th>
                        <th>Адрес</th>
                </tr>
        </thead>
        <tbody data-bind="foreach: contactListVM.contacts">
                <tr>
                        <td><input type="checkbox"></td>
                        <td data-bind="text: firstName"></td>
                        <td data-bind="text: birthday"></td>
                        <td data-bind="text: town"></td>
                </tr>
        </tbody>
</table>

<!-- /ko -->