<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="st.css">
        <title></title>
    </head>
    <body>
        <table class="login-form">
            <tr>
                <td>
                    <label for="login-input">Login</label>
                </td>
                <td>
                    <input type="text" id="login-input">
                </td>
            <tr>
                <td>
                    <label for="password-input">Password</label>
                </td>
                <td>
                    <input type="text" id="password-input">
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">Регистрация</a>
                </td>
                <td>
                    <a href="#" class="button">Вход</a>
                </td>
            </tr>
        </table>
    </body>
</html>