@()
<!DOCTYPE html>
<html id="custom">
    <head>
        <title>Delivery Service</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<script src="@routes.Assets.at("javascripts/vendor/jquery-1.11.2.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/vendor/jquery-ui.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/vendor/bootstrap.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/vendor/knockout-3.1.0.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/vendor/sammy-latest.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/vendor/knockout.validation.min.js")" type="text/javascript"></script>
		<script src="https://cdn.rawgit.com/Knockout-Contrib/Knockout-Validation/master/localization/ru-RU.js" type="text/javascript" ></script>
		<script src="@routes.Assets.at("javascripts/vendor/knockout-jqueryui.min.js")"></script>
        @helper.requireJs(core = routes.Assets.at("javascripts/vendor/require.js").url, module = routes.Assets.at("javascripts/app").url)


	</head>
    <body id="custom">
        <!-- ko if: $root.chosenSectionId() -->
            <!-- ko if: $root.chosenSectionId().id !== "lgn" -->
                <!-- ko if: $root.user() -->
                <div id="wrapper">
                <div id="context">
                	<div id="header">
    					<div id="site_title">
    						<h1><span data-bind="text: $root.user().company"></span></h1><br/>
    					</div>
        				<div id="header_right">
            			
                    			Добро пожаловать,
                    			<span data-bind="text: $root.user().firstName"></span>&nbsp;<span data-bind="text: $root.user().lastName"></span>
                			<br/>
                    			Роль:&nbsp;<span data-bind="text: $root.user().role"></span>
                		<br/>
                		<div id="logout">
                    		<a href="#" class="button" name="logoutButton" data-bind="click: $root.loginVM.logoutButton">Выход</a>
                		</div>	
         			</div>
    			</div>
    			<div class="clr"></div>
                <div id="menu">
                <ul data-bind="foreach: menu">
                	<li data-bind="text: name,
                					css: {selected: id == $root.chosenSectionId().id},
                					click: function(){$root.goTo(this)}">
                	</li>
                </ul>
                </div>
            	<div class="clr h20"></div>
            	
    			<div id="main">
    				@contactmodal()
    				@usermodal()
            		@list()
            		@stats()
        			@contactlist()
        			@orderlist()
        			@settings()
        			@contactdetails()
        			@orderdetails()
        			@ordersearch()
        			@userdetails()
        			@emaildetails()
        		</div>	
        		<div class="clr h50"></div>
        		</div>
        		</div>
        		<!-- /ko -->
        	<!-- /ko -->
       	@login()
		<!-- /ko -->
    </body>


</html>
