<!-- ko if: $root.chosenSectionId().id == "ordlst" -->

<table>
    <thead>
        <tr>
            <th>description</th>
            <th>customer</th>
            <th>recipient</th>
            <th>user</th>
            <th>status</th>
            <th>date</th>
            <th>price</th>
            <th>process</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: $root.orderlistVM.orders">
        <tr data-bind="click: $root.goToOrder">
            <td data-bind="text: description"></td>
            <td data-bind="text: customer"></td>
            <td data-bind="text: recipient"></td>
            <td data-bind="text: user"></td>
            <td data-bind="text: orderStatus"></td>
            <td data-bind="text: date"></td>
            <td data-bind="text: price"></td>
            <td >
                <button data-bind="click: $root.orderlistVM.setNextStatusBtn" value="nextStatus"><span data-bind="text: nextStatus"/></button>

            </td>


        </tr>

    </tbody>
</table>

<!-- /ko -->

