<!-- ko if: $root.chosenSectionId().id == "ordlst" -->
<div class="actions">
<select data-bind = "options:$root.orderlistVM.availableStatuses, optionsText: 'title',
					value: $root.orderlistVM.selectedStatus,
                    optionsCaption: 'Выберите статус заказа',
                    event: { change: $root.orderlistVM.changeStatus}"></select>
</div>
<table class="list table-hover"> 
    <thead>
        <tr>
        	<th>Дата заказа</th>
            <th>Описание заказа</th>
            <th>Цена заказа</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: $root.orderlistVM.orders">
		<tr data-bind="click: function(data, evt) {$root.orderlistVM.goToOrderDetails(data, evt, $root)}">
			<td data-bind="text: date"></td>
            <td data-bind="text: description"></td>
            <td data-bind="text: price"></td>
            <td data-bind="text: orderStatus"></td>
        </tr>
    </tbody>
</table>
<div class="pagination">
        	<a id="first" href="#" data-bind="click: function (data, event) { $root.navigate($root.orderlistVM, data,event); }, css: { disabled: orderlistVM.currentPage() === 1 }">В начало</a>
            <a id="prev" href="#" data-bind="click: function (data, event) { $root.navigate($root.orderlistVM,data,event); }, css: { disabled: orderlistVM.currentPage() === 1 }"><<</a>
			<!-- ko foreach: orderlistVM.numbers -->
             <a id="block" href="#" data-bind="click: function (data, event) { $root.navigate($root.orderlistVM,data,event); }, text: $data, css: { current: $root.orderlistVM.currentPage() == $data}"></a>
			<!-- /ko -->
            <a id="next" href="#" data-bind="click: function (data, event) { $root.navigate($root.orderlistVM,data,event); }, css: { disabled: orderlistVM.currentPage() >= orderlistVM.totalPages()}">>></a>
        	<a id="last" href="#" data-bind="click: function (data, event) { $root.navigate($root.orderlistVM,data,event); }, css: { disabled: orderlistVM.currentPage() >= orderlistVM.totalPages()}">В конец</a>
</div> 
<!-- /ko -->

