@()
<!-- Modal -->
<div class="modal fade" id="addphone">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Телефон</h4>
            </div>
            <div class="modal-body">
                <table class="list">
                    <tr>
                        <td>Код страны</td>
                        <td><input type="text" name="countryCode" id="countryCode" data-bind="value: $root.contactDetailsVM.contact().birthday"></td>
                    </tr>
                    <tr>
                        <td>Код оператора</td>
                        <td><input type="text" name="operatorCode" id="operatorCode" data-bind="value: $root.contactDetailsVM.contact().birthday"></td>
                    </tr>
                    <tr>
                        <td>Номер телефона</td>
                        <td><input type="text" name="number" id="number" data-bind="value: $root.contactDetailsVM.contact().birthday"></td>
                    </tr>
                    <tr>
                        <td>Тип телефона</td>
                        <td><input type="text" name="type" id="type" data-bind="value: $root.contactDetailsVM.contact().birthday"></td>
                    </tr>
                    <tr>
                        <td>Комментарий</td>
                        <td><input type="text" name="comment" id="comment" data-bind="value: $root.contactDetailsVM.contact().birthday"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->