@()
<!-- ko if: ( $root.chosenSectionId().id == "useradd" || $root.chosenSectionId().id == "userchange" ) && $root.userDetailsVM.user -->

<button id="show-contacts" data-bind="click: function() {$root.userDetailsVM.showModal($root)};" type="button">
    Выберите контакт</button> <br>

<label for="login">Логин</label> <input type="text" name="login" id="login" data-bind="value: $root.userDetailsVM.user().login"> <br>
Пароль <input type="text" name="password" id="password" data-bind="value:  $root.userDetailsVM.user().password"> <br>
<select data-bind="options: $root.rolelistVM.roles,
                     optionsText: 'title',
                     optionsCaption: 'Выберите роль пользователя',
                     value: $root.userDetailsVM.user().role"></select>

<button type="button" data-bind="click: function(){$root.userDetailsVM.submit($root);}">
       Добавить пользователя</button>
<!-- /ko -->