@()
<!-- ko if: ( $root.chosenSectionId().id == "useradd" || $root.chosenSectionId().id == "userchange" ) && $root.userDetailsVM.user -->

<button class="button choose-btn" id="show-contacts" data-bind="click: function() {$root.userDetailsVM.showModal($root)};" type="button">
    Выберите контакт</button> <br>
<div class="details-part">
    <div class="field">
        <label class="title" for="login">Логин</label>
        <div class="textfield">
        	<input class="textfield" type="text" name="login" id="login" data-bind="value: $root.userDetailsVM.user().login">
    	</div>
    </div>
    <div class="clr"></div>
    <div class="field">
        <label class="title" for="password">Пароль</label>
        <div class="textfield">
        	<input class="textfield" type="text" name="password" id="password" data-bind="value:  $root.userDetailsVM.user().password"> <br>
        </div>
    </div>
    <div class="clr"></div>
        <!-- ko if: ($root.chosenSectionId().id == "userchange" )-->
    <select data-bind="options: $root.rolelistVM.roles,
                     optionsText: 'title',
                     optionsCaption: $root.userDetailsVM.role().title,
                     value: $root.userDetailsVM.role()"></select>
        <!-- /ko -->
        <!-- ko if: ($root.chosenSectionId().id == "useradd" )-->
    <select data-bind="options: $root.rolelistVM.roles,
                     optionsText: 'title',
                     optionsCaption: 'Выберите роль пользователя',
                     value: $root.userDetailsVM.user().role"></select>
        <!-- /ko -->
</div>

<button class="button choose-btn" type="button" data-bind="click: function(){$root.userDetailsVM.user().contactId = $root.contactListVM.checkedContact; $root.userDetailsVM.submit($root);}">

    Добавить пользователя</button>
<!-- /ko -->