@()
		<table class="list table-hover">
        	<thead>
        		<tr>
                    <th>&nbsp;</th>
                    <th>
                        Полное имя
                    </th>
                    <th>
                        Логин
                    </th>
                    <th>
                        Роль
                    </th>
                </tr>
        	</thead>
        	<tbody data-bind="foreach: userlistVM.users">
        		<tr>
        			<!-- ko if: $root.chosenSectionId().id == "lst" -->
                    <td><input type="checkbox" data-bind="value: id, checked: $root.userlistVM.checkedUsers" /></td>
                    <td data-bind="click: function(data, evt) {$root.userlistVM.goToUserDetails(data, evt, $root)}">
                    	<span data-bind="text:firstName"></span>&nbsp;
                    	<span data-bind="text:lastName"></span>&nbsp;
                    	<span data-bind="text:middleName"></span>
                    </td>
                    <!-- /ko -->
                    <!-- ko if: $root.chosenSectionId().id == "ordadd" || $root.chosenSectionId().id == "ordchange" -->
                    <td><input type="radio" data-bind="value: id, checked: $root.userlistVM.checkedUserId" /></td>
                    <td>
                    	<span data-bind="text:firstName"></span>&nbsp;
                    	<span data-bind="text:lastName"></span>&nbsp;
                    	<span data-bind="text:middleName"></span>
                    </td>
                    <!-- /ko -->
                    <td data-bind="text: login"></td>
                    <td data-bind="text: role"></td>
               </tr>
        	</tbody>
        </table>
        <div class="pagination">
        	<a id="first" href="#" data-bind="click: function (data, event) { $root.navigate($root.userlistVM, data,event); }, css: { disabled: userlistVM.currentPage() === 1 }">В начало</a>
            <a id="prev" href="#" data-bind="click: function (data, event) { $root.navigate($root.userlistVM,data,event); }, css: { disabled: userlistVM.currentPage() === 1 }"><<</a>
			<!-- ko foreach: userlistVM.numbers -->
             <a id="block" href="#" data-bind="click: function (data, event) { $root.navigate($root.userlistVM,data,event); }, text: $data, css: { current: $root.userlistVM.currentPage() == $data}"></a>
			<!-- /ko -->
            <a id="next" href="#" data-bind="click: function (data, event) { $root.navigate($root.userlistVM,data,event); }, css: { disabled: userlistVM.currentPage() === userlistVM.totalPages()}">>></a>
        	<a id="last" href="#" data-bind="click: function (data, event) { $root.navigate($root.userlistVM,data,event); }, css: { disabled: userlistVM.currentPage() === userlistVM.totalPages()}">В конец</a>
        </div> 